<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Pets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(doctorVisits)}">
        <h2>Doctor List</h2>
        <table class="table table-striped">
            <tr>
                <th>Pet Id</th>
                <th>Doctor Name</th>
                <th>Visit Date</th>
                <th>Visit Reason</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="doctorVisit : ${doctorVisits}">
                <td th:text="${doctorVisit.petId.toHexString()}"></td>
                <td th:text="${doctorVisit.doctorName}"></td>
                <td th:text="${doctorVisit.visitDate}"></td>
                <td th:text="${doctorVisit.visitReason}"></td>
                <td><a th:href="${'/doctor/edit/' + pet.id.toHexString()}">Edit</a> </td>
                <td><a th:href="${'/doctor/delete/' + pet.id.toHexString()}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
           <a th:href="${'/doctor/new/' + *{id}}">New Visit</a>
        </div>
    </div>
</div>

</body>
</html>